{% extends 'navbar.html' %} {% block content %}
<div>
    <h1>Device Log for:</h1>
    <div>
        <h3>
            Asset: {{ device.name }}
            <br />
            Model: {{ device.model }} <br />
            Serial No: {{ device.serial_number }}
        </h3>

        {% if device.status == 'available' %}
        <!-- Add Allocation Button -->
        <a href="{% url 'allocate_device' device.id %}">Allocate Device</a>
        {% elif device.status == 'checked_out' %}
        <!-- Add Check-in Button -->
        <a href="{% url 'checkin_device' device.id %}">Check-in Device</a>
        {% endif %}
    </div>

    <table>
        <tr>
            <th>Allocated To</th>
            <th>Check Out Time</th>
            <th>Check In Time</th>
            <th>Condition on Checkout</th>
            <th>Condition on Checkin</th>
        </tr>

        {% for log in logs %}
        <tr>
            <td>{{ log.employee.name }}</td>
            <td>{{ log.check_out_time }}</td>
            {% if log.check_in_time is None %}
            <td>-</td>
            {% else %}
            <td>{{ log.check_in_time }}</td>
            {% endif %}
            <td>{{ log.condition_on_checkout }}</td>
            {% if log.condition_on_checkin is None %}
            <td>-</td>
            {% else %}
            <td>{{ log.condition_on_checkin }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'list_devices' %}">Back to Devices
        List</a>

    {% endblock content %}
</div>